<tr>
    <td><input type="text" name="navn" value="{{apparat.navn }}"></td>
    <td><input type="hidden" name="id" value="{{apparat.id}}">{{apparat.id}}</td>
    <td class = "select">
        <select name="trigg">
            {% for prosent in prosenter %}
                {% if apparat.trigg == prosent %}
                    <option selected value="{{ prosent }}">{{ prosent }}%</option>
                {% else %}
                    <option value="{{ prosent }}">{{ prosent }}%</option>
                {% endif %}
            {% endfor %}
        </select>
    </td>
    <td >
        <select name="modus">
            {% for status in statuser %}
                {% if apparat.modus== status %}
                    <option selected value="{{ status }}">{{ status }}</option>
                {% else %}
                    <option value="{{ status }}">{{ status }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </td>
</tr>