<!doctype html>
<html>
<head>
    <style>
        table{
            border-collapse:collapse;
            width:100%;
        }
        table, tr, td{
            border:1px solid black;
        }
        input{
            width:100%;
            border:none;
            background:#eee;
        }
    </style>
</head>
<body>
<h1>Tittel</h1>
<h2>Status: {{ stromforbruk_i_prosent }}% - {{stromforbruk_i_kw}}Kw</h2>
<form method="post" action="/">
    <table id="apparater">
        <thead>
        <tr>
            <td>Navn</td>
            <td>Beskrivelse</td>
            <td>Slåes av ved prosent</td>
            <td>Status</td>
            <td>Slett</td>
        </tr>
        </thead>
        <tbody>
        {% for apparat in apparater %}
            {% include 'apparat.html' %}
        {%  endfor %}
        </tbody>
    </table>
    <button type="button" onclick="leggTilApparat()">Legg til nytt apparat</button>
    <input type="submit" value="Lagre">

</form>

<script>

    function slettApparat(node){
        node.parentNode.parentNode.parentNode.removeChild(node.parentNode.parentNode);
    }

    function leggTilApparat(){
        var template = document.querySelector("table tbody tr:last-child").cloneNode(true);
        document.querySelector("table tbody").insertBefore(template, null);
    }
</script>
</body>
</html>