<!doctype html>
<html>
<head>
    <style>
        table{
            border-collapse:collapse;
            width:100%;
        }
        table, tr, td{
            border:1px solid black;
        }
        input{
            width:100%;
            border:none;
            background:#eee;
        }
    </style>
</head>
<body>
<h1>Tittel</h1>
<h2>Status: {{status}}% - {{forbruk}}Kw</h2>
<form method="post" action="/">
    <table id="apparater">
        <thead>
        <tr>
            <td>Enhet</td>
            <td>Beskrivelse</td>
            <td>Trigger</td>
            <td>Modus</td>
        </tr>
        </thead>
        <tbody>
        {% for apparat in apparater %}
            {% include 'apparat.html' %}
        {%  endfor %}
        </tbody>
    </table>
    <input type="submit" value="Lagre">

</form>

</body>
</html>